* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #101418;
}
a {
  color: inherit;
  text-decoration: none;
}
