/* CSS HEX */
/* --timberwolf: #d1d1d1ff;
  --eerie-black: #222222ff;
  --rose-quartz: #ad959dff;
  --white: #fefefeff;
  --night: #111111ff; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #101418;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
